.app-header {
    background-color: #2d3e50;
}

.app-header > .pure-menu-heading {
    color: #fff;
}

#mood-display {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
}

.mood-relaxed {
    background-image: url('mood-relaxed.jpg');
}

.mood-neutral {
    background-image: url('mood-neutral.jpg');
}

.mood-excited {
    background-image: url('mood-excited.jpg');
}

#status-light {
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.status-not-connected {
    background-color: #ff0000;
}

.status-connected {
    background-color: #00ff00;
}

.indicator {
    color: #fff;
    margin-top: 5px;
    margin-right: 4px;
}